/* shared styles */
body {
  font-family: "Lato", sans-serif;
  font-family: "Work Sans", sans-serif;
  padding-left: 240px;
  padding-right: 240px;
}

.commont-font.colour{
    color: #534c64;
}

/* Navigation Styles Starts */
#socials {
  border-radius: 5px;
  background-color: rgba(11, 2, 35, 0.1);
  display: flex;
  justify-content: space-around;
}
#socials .svg{
    margin-left: 10px;
}
.navigation {
  display: flex;
  justify-content: space-between;
}

.heading-image{
    margin-right: 10px;
}
.nav-logo{
    
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-options{
    
}
.nav-options > ul {
  display: flex;
  list-style: none;
  color: #3c354f;
  text-align: center;
  font-size: 1.125rem;
  font-weight: 500;
}

.nav-options li{
    padding: 20px;
}

.nav-options li > a {
  text-decoration: none;
  margin-right: 10px;
}

/* Navigation Styles Ends */



/* Mobile Responsive Starts */
@media screen and (max-width: 425px) {
    body{
        padding: 10px;
    }   
    .navigation{
        flex-direction: column;
    }
    .nav-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .list-items{
        flex-direction: column;
    }
    .nav-options > ul {
        padding: 0px;
      }
    .nav-options li{
    }
}
/* Mobile Responsive Ends */
/* Tablet Responsive Starts */
@media screen and (min-width: 425px) and (max-width: 768px){

    body{
        padding: 20px;
    }
}

/* Tablet Responsive Ends */
